@import "~assets/scss/variables";

.menu-bar {
  &.fixed-top {
    top: 65px;
    z-index: 1000;
  }

  .nav {
    li {
      a {
        color: $gray-dark;
        letter-spacing: .025em;
      }
      &.dropdown-item {
        padding: 0.15rem 1.5rem;
      }
    }
  }
}
