<div class="fixed-top menu-bar bg-white">
  <ul class="nav">
    <ng-container *ngFor="let item of menuItems" >
      <li class="nav-item" [ngClass]="item.submenu ? 'dropdwon': ''" [ngClass]="getMenuItemPropClasses(item)">
        <a class="nav-link" [ngClass]="item.submenu ? 'dropdown-toggle': ''" href="javascript:void(0)"
           (click)="clickFn(item)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="{{item.icon}}"></span>&nbsp;{{item.text}}
        </a>
        <ul *ngIf="item.submenu" class="dropdown-menu border-0 box-shadow pb-0 pt-0" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-item pl-2" *ngFor="let subItem of item.submenu" [ngClass]="getMenuItemPropClasses(subItem)">
            <a class="nav-link" [routerLink]="[subItem.path]">{{subItem.text}}</a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
