html {
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: $gray-dark;
  padding: 0.2em 0;
}

body {
  font-size: 15px;
  font-family: Lato, sans-serif;
  color: $gray-dark;
  min-height: 100%;
  letter-spacing: 0.26px;
  height: 100%;
  background-color: #f5f7fa;
}

hr {
  border-color: $border-color;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-10 {
  margin-top: 7.5rem !important;
}

.heading {
  position: fixed;
  z-index: 10023;
  top: 15px;
  color: white;
  margin-left: 20px;
}

.box-shadow {
  box-shadow: 1px 1px 6px rgba(34,48,62,.26);
}

