<div class="container-fluid mt-7">
  <h5 class="heading alert-heading mb-2">Users</h5>
  <div class="card border-0 box-shadow mb-3">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-transparent">
     <div class="row">
       <div class="col-8">
         <a class="add-btn" href="javascript:void(0)"><span class="fa fa-plus-circle"></span> Add</a>
       </div>
       <div class="col-4 d-flex justify-content-end">
         <app-search [(data)]="data"></app-search>
       </div>
     </div>
    </div>
    <div class="card-body pt-3">
      <div class="table-responsive">
        <table class="table table-striped table-hover" [ngBusy]="data.busy">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'name'">
                Name
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'email'">
                Email
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'phone'">
                Phone
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'userType'">
                Role
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'lastLogin'">
                Last Login
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'status'">
                Status
              </app-arrange-col>
            </th>
            <th scope="col" width="80">
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data.list; let index = index;">
            <td>
              <ngx-avatar name="{{item.name}}" src="{{item.profilePicURL?.thumbnail}}"></ngx-avatar>
            </td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td><span class="badge badge-secondary">{{item.userType.toLowerCase()}}</span></td>
            <td>{{item.lastLogin | amTimeAgo}}</td>
            <td>
              <span *ngIf="!item.emailVerified">Email not verified</span>
              <span class="badge badge-success" *ngIf="item.status == 'ACTIVE'">Active</span>
              <span class="badge badge-warning" *ngIf="item.status == 'HOLD'">Blocked</span>
              <span class="badge badge-danger" *ngIf="item.status == 'DECLINED'">Declined</span>

              <span *ngIf="item.status == 'PENDING' && item.emailVerified">
                <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-xs" (click)="openStatusDialog(item, 'DECLINED')"><span class="fa fa-remove"></span></a>
                <a href="javascript:void(0)" class="btn btn-success btn-sm btn-xs" (click)="openStatusDialog(item, 'ACTIVE')"><span class="fa fa-check"></span></a>
              </span>
            </td>
            <td>
              <a class="btn btn-sm btn-xs" *ngIf="['HOLD','ACTIVE'].indexOf(item.status) > -1 && item.emailVerified" [ngClass]="item.status == 'HOLD' ? 'btn-success': 'btn-warning'" href="javascript:void(0)"
                 (click)="openStatusDialog(item, item.status == 'HOLD' ? 'ACTIVE': 'HOLD')">
                {{item.status == 'HOLD' ? 'Unblock': 'Block'}}
              </a>
            </td>
          </tr>
          <tr *ngIf="data.busy.closed && !data.list.length">
            <td class="text-center" colspan="7">
              No Records Found
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer border-top-0 pt-0 pb-2 bg-transparent">
      <app-pagination [(data)]="data"></app-pagination>
    </div>
  </div>
</div>
