<section>
  <div [ngClass]="{'main-content': isLoggedIn}">
    <app-header *ngIf="isLoggedIn"></app-header>
    <app-header-menu-bar *ngIf="isLoggedIn"></app-header-menu-bar>
    <router-outlet></router-outlet>
  </div>
</section>
