<div class="container-fluid mt-10">
  <div class="card">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-transparent">

    </div>
    <div class="card-body pt-3">
      Analytics Goes here
    </div>
  </div>
</div>
